/* CSS Variables */
:root {
    --primary-color: #005f99; /* Primary Colour */
    --secondary-color: #ffcc00; /* Secondary Colour */
    --background-color: #f4fbff; /* Background Colour */
    --text-color: #333; /* Base Text Colour */
    --accent-color: #004080; /* Accent Colour */
    --button-hover-color: #ffd633; /* Button Hover Colour */
    --shadow-color: rgba(0, 0, 0, 0.1); /* Shadow Colour */
    --shadow-hover-color: rgba(0, 0, 0, 0.5); /* Shadow Hover Colour */
    --price-color: White; /* Price Colour */
    --price-font-size: 4em; /* Price Font Size */
}

/* Navbar Styles */
.navbar {
    background-color: var(--primary-color);

    padding: 1em;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); /* Optional shadow for better visibility */
}

.navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    gap: 1.5em;
}

.navbar ul li {
    display: inline-block;
}

.navbar ul li a {
    color: white;
    text-decoration: none;
    font-size: 1em;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
    padding: 0.5em 0.5em;
    border-radius: 5px;
    transition: background-color 0.3s;

}

.navbar ul li a:hover {
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

/* Style for the dropdown */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #005f99;
    min-width: 250px;
    z-index: 1;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.section {
    margin: 10px 0; /* Reduce the vertical margin between sections */
    padding: 10px 0; /* Optional: Reduce padding inside sections */
}

/* Call-to-Action Button */
.button-container {
    width: 100%; /* Ensure button fits the screen */
    display: flex;
    justify-content: center; /* Center the button */
    margin-top: 20px; /* Add spacing above the button */
    margin: 10px 0; /* Reduce margin for button container */
}

.button {
    background-color: var(--primary-color); /* Primary color for buttons */
    color: white;
    padding: 15px 30px; /* Increased padding for larger touch targets */
    border-radius: 5px; /* Rounded corners */
    transition: background-color 0.3s, transform 0.3s; /* Smooth transitions */
}

.button:hover {
    background-color: #128C7E; /* Darker shade on hover */
    transform: translateY(-2px); /* Subtle lift effect */
}


.explore-button {
    display: inline-block;
    margin-top:-8px;
    padding: 10px 20px;
    background-color: var(--primary-color);
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1em;
    font-weight: bold;
    transition: background-color 0.3s, transform 0.3s;
}

.explore-button:hover {
    background-color: #128C7E;
    transform: translateY(-2px);
}

/* Footer Styling */
footer {
    display: block; /* Ensure the footer is displayed as a block element */
    width: 100%; /* Ensure the footer spans the full width */
    background-color: white; /* Adjust as needed */
    padding: 20px; /* Add padding for space */
    text-align: center; /* Center the text inside */
    position: relative; /* Ensure it's positioned relative */
    z-index: 1; /* Adjust to ensure it's above lower layers */
}

/* Optional: Ensure footer text or links are visible */
footer p {
    font-size: 1em; /* Adjust font size */
    color: var(--text-color); /* Set text color */
}

.version-control {
    position: fixed; /* Fixes the element's position relative to the viewport */
    bottom: 15px; /* Distance from the bottom edge of the viewport */
    right: 10px; /* Distance from the right edge of the viewport */
    font-size: 0.7em; /* Small font size */
    color: #555; /* Subtle grey colour for text */
    background-color: rgba(0, 0, 0, 0.1); /* Optional: Semi-transparent background */
    padding: 5px 8px; /* Small padding for readability */
    border-radius: 3px; /* Rounded corners for a neat look */
   
    font-family: Arial, sans-serif; /* Simple, clean font */
}


/* Add margin to push footer into view if necessary */
body {
    font-family: 'Raleway', sans-serif; /* Consistent font */
    line-height: 1.6; /* Increased line height for readability */
    background-color: #f4fbff; /* Soft background color */
}

/* Persona pages header formatting */
.persona-header-container {
    display: flex; /* Use flexbox for alignment */
    justify-content: center; /* Center items horizontally */
    align-items: center; /* Center items vertically */
    margin-bottom: 10px; /* Add space at the bottom */
    flex-direction: column; /* Stack items vertically */
    text-align: center; /* Center text */    
}

.persona-title {
    padding: 2em;
    font-size: 3em; /* Increased font size for the title */
    color: var(--text-color); /* Use the text color variable */
    margin-right: 10px; /* Add some space to the right of the title */
    margin-bottom: 0px; /* Add space between the title and the subtitle */
    line-height: 0; /* Reduce line height if needed */
}

.persona-price-container {
    display: inline-flex; /* Align price and VAT horizontally */
    align-items: center; /* Vertically center-align text */
    gap: 0.1px; /* Space between price and VAT */
}

.persona-price {
    color: white; /* Set the price color to white */
    font-size: 2.5em; /* Increased font size for the price */
    font-weight: bold; /* Make the price bold */
    background-color: #005f99; /* Background color */
    padding: 25px 15px; /* Padding for spacing */
    border-radius: 5px; /* Rounded corners */
    margin-top: 0; /* Remove top margin if needed */
    line-height: 0; /* Reduce line height if needed */
}

.persona-price-VAT {
    font-size: 1em; /* Smaller font for VAT */
    font-weight: bold; /* Make VAT bold */
    color: #005f99; /* Same text colour as the price */
   /* background-color: inherit;  Matches the price's background colour */
    padding: 5px 10px; /* Smaller padding for VAT */
    border-radius: 5px; /* Match the rounded corners */
    white-space: nowrap; /* Prevent wrapping of text */
    margin-top:35px;
}

.persona-price-index {
    color: #005f99; 
    font-size: 2em; /* Increased font size for the price */
    font-weight: bold; /* Make the price bold */
     /*background-color: #005f99; Background color */
    padding: 25px 15px; /* Padding for spacing */
    border-radius: 5px; /* Rounded corners */
    margin-top: -15px; /* Remove top margin if needed */
    line-height: 0; /* Reduce line height if needed */
}

.persona-price-index-VAT {
    font-size: 1em; /* Smaller font for VAT */
    font-weight: bold; /* Make VAT bold */
    color:  #005f99; ; /* Same text colour as the price */

}


/* General Container Styling */

.container {
    display: flex; /* Enable flexbox layout */
    flex-direction: column; /* Arrange items vertically */
    align-items: center; /* Center items horizontally */
    gap: 20px; /* Add spacing between items */
}

/* Button Style */

.button-container {
    margin-top: 5px;  /* Move the button closer to the content above it */
    padding: 10px 20px; /* Adjust the padding to make the button look better */
    position: relative; /* Create a new stacking context */
    z-index: 1000; /* Ensure it appears above other elements */
}
.button {
    display: inline-block;
    background-color: var(--primary-color); /*#005f99;*/
    color: white;
    /*padding: 0.75em 2em;*/
    border-radius: 25px;
    text-decoration: none;
    font-weight: bold;
    /*margin-top: 1.5em;*/
    transition: background-color 0.3s;
    margin-top: -250px;  /* Move the button closer to the content above it */
    padding: 10px 20px; /* Adjust the padding to make the button look better */
}

.button:hover {
    background-color: #128C7E; /* Darker shade for hover */
    transform: translateY(-3px); /* Subtle lift effect */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); /* Enhanced shadow */
}

/* Text Styling */

.text-container {
    text-align: center;  /* Center the text horizontally */
    margin-bottom: 0;
}


.text-content h2 {
    text-align: center;
    font-size: 1.5em; 
}

.text-content p {
    text-align: center;
    font-size: 1.2em; 
}

.text {
    font-size: 1.5em;
    color: #333;
    margin-top: 15px;
}

.text-container p {
    padding-bottom: 5px; /* Reduce space below "Who’s This Solution For?" */
}

.container h2 {
    margin-top: 2px; /* Reduce space above "Choose Your Water Solution" */
    font-size: 1.5em;
    color: #333;
}

h2 {
    font-size: 2.5em; /* Larger heading size */
    color: var(--text-color);
    margin-bottom: 1px; /* Increased spacing below headings */
}

.container p {
    margin-top: 2px; /* Adjust the space above the paragraph text */
    font-size: 1.2em; /* Adjust font size as needed */
    color: #333;
}



/* General Image Container */
.image-container {
    width:70%;
    display: flex;
    justify-content: center; /* Center the image horizontally */
    margin-top: 10px; /* Adjust this value to decrease the gap */
    padding-top: 80px; 
    
}

.image-container-contact {
    width: 100%;
    display: flex;
    justify-content: center; /* Center the image horizontally */
    margin-top: 20px; /* Adjust this value to decrease the gap */
    padding-top: 80px; 
    
}

.image {
    max-width: 100%; /* Responsive image */
    height: auto; /* Maintain aspect ratio */
    border-radius: 10px; /* Rounded corners */
}

/* Persona Card Styling */
.persona-card {
    display: flex;
    flex-direction: column;
    align-items: center;  /* Horizontally center the content */
    justify-content: center;  /* Vertically center the content */
    width: 200px; /* Adjust as necessary */
    height: 300px; /* Adjust as necessary */
    padding: 20px;
    border-radius: 10px;
    background-color: #fff;
    text-align: center;  /* Ensure text inside is also centered */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin-bottom: 250px; 
}

.persona-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 12px 20px var(--shadow-hover-color);
}

.persona-icon {
    margin-bottom: 10px; /* Space between image and text */
    margin-top: 80px; /* Space between image and text */
}

.persona-icon img {
    width: 80px;
    height: 80px;
    object-fit: contain;
}

.persona-name {
    font-family: 'Raleway', sans-serif;
    font-size: 1.5em;
    color: var(--text-color);
    margin-bottom: 10px;
}

.persona-desc {
    font-size: 1em;
    line-height: 1.5;
    color: #555;
    padding: 0 10px; /* Prevent text from going out of bounds */
}


/* Process steps formatting */
.process-steps {
    display: flex; /* Change grid to flex for more precise centering */
    flex-wrap: wrap; /* Allow wrapping for responsiveness */
    justify-content: center; /* Center items horizontally */
    gap: 20px; /* Space between process steps */
    margin: 20px auto; /* Center the container */
    width: 100%; /* Full width */
    max-width: 1000px; /* Optional: Set a max width */
}

.process-step {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between; /* Distribute content evenly */
    text-align: center;
    gap: 15px;
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    width: 350px; /* Fixed width */
    min-height: 350px; /* Set minimum height for consistency */
    overflow: hidden; /* Prevent overflow */

}

.process-step:hover {
    transform: translateY(-5px); /* Lift effect on hover */
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.2); /* Darker shadow on hover */
}

.process-icon {
    font-size: 2em; /* Icon size */
    color: var(--secondary-color); /* Icon color */
}

.process-icon img {
    width: 60px; /* Set a fixed width for icons */
    height: 60px; /* Set a fixed height for icons */
    object-fit: contain; /* Maintain aspect ratio */
}

.process-step h3 {
    margin: 0; /* Remove default margin */
    padding-bottom: 10px; /* Space between heading and text */
    font-size: 1.5em; /* Heading size */
}

.process-step p {
    margin: 0; /* Remove default margin */
    padding-top: 5px; /* Space above the paragraph */
    line-height: 1.5; /* Improve readability */
}


/* Google Maps Section */
#map {
    width: 80%;
    height: 400px;
    border-radius: 10px;
    box-shadow: 0 4px 8px var(--shadow-color);
}

/* Location Section Styles */
.autocomplete-box {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}

.name-container {
    display: flex;
    gap: 10px;
}

.controls {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.location-input {
    width: 120%;
    margin-top: 10px;
}

.location-container {

    display: flex;
    align-items: center;
}

#sendWhatsApp {
    display: flex;
    align-items: center;
    background-color: #25D366;
    color: white;
    padding: 12px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    transition: background-color 0.3s;
    margin-left: 10px;
    min-width: 200px;
    height: 100%;
}

#sendWhatsApp:hover {
    background-color: #128C7E;
}

#sendWhatsApp img {
    margin-right: 10px;
}

/* Section3 */
.form-container {
    display: flex; /* Use flexbox */
    flex-direction: column; /* Stack elements vertically */
    align-items: center; /* Center align the children (heading, paragraph, button) */
    justify-content: center; /* Vertically center the content */
    text-align: center; /* Ensure text is centered inside the container */
    margin: 40px 0;
    padding: 30px;
    flex: 1; /* Allow the form section to grow */
    width: 100%; /* Ensure the form takes up the full width */
    max-width: 1200px; /* Set a max width for better control */
    border-radius: 8px;
    background-color: var(-- background-color); /* Soft background to highlight the section */
}

.contact-form {
    display: flex;
    flex-direction: column; /* Stack the form fields vertically */
    width: 100%; /* Ensure form fields take up full width */
}

.contact-form label {
    margin-top: 10px; /* Add space between labels and inputs */
    font-weight: bold; /* Bold labels for better visibility */
}

.contact-form input,
.contact-form textarea {
    width: 100%; /* Make the input boxes take up 100% of the container's width */
    max-width: 100%; /* Ensure no larger than container width */
    margin-bottom: 20px; /* Increased spacing for more comfort */
    padding: 15px; /* More padding inside the inputs for better comfort */
    font-size: 1.1em; /* Increase font size for better readability */
    border: 1px solid #ccc; /* Soft border for input fields */
    border-radius: 8px; /* Larger rounded corners for a softer, modern look */
    background-color: #f0f8ff; /* Light background for input fields */
    font-family: Arial, sans-serif; /* Clean, easy-to-read font */
    transition: all 0.3s ease; /* Smooth transition for focus and hover effects */
    box-sizing: border-box; /* Include padding and border in width */
}

.contact-form input:focus,
.contact-form textarea:focus {
    border-color: #4CAF50; /* Highlight the border on focus */
    outline: none; /* Remove default focus outline */
    box-shadow: 0 0 5px rgba(76, 175, 80, 0.6); /* Subtle shadow effect */
}

.contact-form button {
    padding: 12px 20px; /* Increase button padding for better click area */
    background-color: var(--primary-color); /* Set a background color */
    color: white; /* Set text color */
    border: none; /* Remove border */
    border-radius: 4px; /* Round the corners */
    cursor: pointer; /* Change cursor to pointer */
    font-size: 1.1em; /* Make the button text slightly larger */
    transition: background-color 0.3s, transform 0.3s; /* Smooth hover transition */
    margin-top: 20px; /* Add some spacing above the button */
}

.contact-form button:hover {
    background-color: #45a049; /* Lighter green shade on hover */
    transform: translateY(-2px); /* Slight movement effect */
}


.whatsapp-container-finder {

  display: flex;
  justify-content: center;
  align-items: center; /* Center vertically */
  /*height: 100vh;  Take up full viewport height */
  margin: 0;
  margin: auto;
  width: 100%;

}

.whatsapp-container {

  display: flex;
  justify-content: center;
  align-items: center; /* Center vertically */
  /*height: 100vh;  Take up full viewport height */
  margin: 0;
  margin: auto;
  width: 70%;

}




#whatsapp-button {

    display: flex;
    justify-content: center;
	width:40%;
    text-align: center;
    margin: 0 auto; 
    align-items: center; /* Center the image and text vertically */
    background-color: #25D366; /* WhatsApp color */
    color: white; /* Text color */
    padding: 10px 20px; /* Padding around the button */
    border-radius: 5px; /* Rounded corners */
    text-decoration: none; /* Remove underline */
    transition: background-color 0.3s, box-shadow 0.3s; /* Smooth background change */
    font-size: 1.2em; /* Increase font size for better visibility */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Soft shadow effect */
}

#whatsapp-button:hover {
    background-color: #128C7E; /* Darker color on hover */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); /* Darker shadow on hover */
}

#whatsapp-button img {
	align-items: center;
    margin-right: 10px; /* Space between icon and text */
}


/* Adapt to media size */
@media (min-width: 1024px) {
    .image {
        width: 70%;  /* Reduce the image to 50% of the screen width */
        margin: 0 auto; /* Center the image horizontally */
        display: block; /* Ensure the image is treated as a block element */
        }
    
    .text {
        font-size: 1.5em; /* Maintain the font size on desktop */
        margin-top: 20px; /* Adjust top margin if needed */
    }
    
    .button {
        display: inline-block; /* Ensure the button is displayed */
        margin-top: 1.5em; /* Adjust margin if needed */
    }


.persona-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Creates responsive grid with columns */
    gap: 3em;
    width: 100%; /* Full width */
    margin: 0 auto; /* Center the container */
    padding: 1em; /* Optional: add padding */
    align-items: center;  /* Horizontally center the content */
    margin-top: 0;
    margin-bottom: 0;    
    justify-content: space-between; /* Space items evenly */
    flex-wrap: wrap; /* Allow wrapping to the next line if needed */
    
}

    .persona-card {
        aspect-ratio: 1 / 1; /* Maintain square shape */
        width: 100%; /* Fill the column */
        margin: 0;
    }
}

/* Mobile-specific adjustments */
@media (max-width: 768px) {

	    .navbar {
        background-color: var(--primary-color);

        position: fixed; /* Keeps the navbar fixed at the top */
        width: 100%; /* Full width for the horizontal layout */
        z-index: 1000; /* Ensure it stays on top */
        /* Remove display: flex; */
        justify-content: center; /* Center the content */
        align-items: center; /* Center items vertically */
        
    }

   .navbar ul {
       display: flex;
       flex-direction: row; /* Ensure horizontal layout */
       /*justify-content: center; Evenly space menu items */
       gap: 0.15em; /* Space between menu items */
       padding: 0;
       margin: 0;
       list-style: none;
       text-align: center; 
   }

    .navbar ul li a {
        color: white;
        font-size: 16px; /* Adjust font size for readability */
        padding: 0.25em 0.5em; /* Add padding for better touch targets */
        text-decoration: none; /* Remove underline */
        border-radius: 5px; /* Rounded corners */
        transition: background-color 0.3s;
        margin-right: 3em;
        text-align: center;
    }

    .navbar ul li a:hover {
        background-color: var(--secondary-color); /* Highlight on hover */
        color: var(--primary-color);
    }

.dropdown-content a {
    text-align: center; /* Centre-align the text inside each link */
    display: block; /* Make the links behave like block elements */
    width: 100%; /* Ensure full width for centering */
    /*padding: 10px 0; Top and bottom padding only */
    margin: 0; /* Reset any margins */
    box-sizing: border-box;
    padding: 12px; /* Larger touch targets for mobile */
    font-size: 16px; /* Improved readability on small screens */

}

.dropdown-content {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Horizontally center items */
    text-align: center; /* Align text within the links */   
    display: none; /* Hide by default */
    position: absolute; /* Ensure proper positioning */
    left: 50%; /* Align horizontally */
    transform: translateX(-50%);
    width: 100%; /* Ensures the dropdown fits the container */
    box-sizing: border-box; /* Includes padding/borders in the total width */
}

.dropdown:hover  {
    display: block; /* Show the dropdown */
    background-color: var(--secondary-color); /* Highlight on hover */
}


    h1 {
        font -size: 1em; /* Adjust heading size for smaller screens */
    }

    h2 {
        font -size: 2em; /* Adjust heading size for smaller screens */
    }
    
    .persona-title {
        font-size: 6vw; /* Adjust size for smaller screens */
    }
    .persona-price {
        font-size: 5vw; /* Adjust size for smaller screens */
    }
    
        .persona-price-VAT {
        font-size: 2vw; /* Adjust size for smaller screens */
    }
    
    .button {
        width: 100%; /* Full-width buttons on mobile */
    }
    
    .image-container {
    width: 100%;
    display: flex;
    justify-content: center; /* Center the image horizontally */
    margin-top: 0; /* Adjust this value to decrease the gap */
    padding-top: 80px; 
    
}
        
    .persona-container {
        display: flex;
        flex-direction: column; /* Stack cards vertically */
        gap: 15px; /* Space between cards */
        width: 100%; /* Ensure full width */
    }


    .persona-card {
        width: 100%; /* Full width of the container */
        flex: 1; /* Allow equal spacing */
        margin-bottom: 20px; /* Spacing between persona cards */
    }

    .persona-card:last-child {
        margin-bottom: 50px; /* Add space at the bottom to avoid button overlap */
    }

    .persona-header-container {
        margin-bottom: 5px; /* Reduce space at the bottom on mobile */
        padding: 10px; /* Add some padding for touch targets */
        /* You can adjust flex properties here if needed */
    }

    .button-container .button {
        /* Style adjustments for mobile */
        padding: 10px 20px; /* Add padding to the text */
        display: block; /* Take up full width of container */
        width: 50%;
        margin: 10px 0;  /* Adjust margin as needed */
        padding: 10px; /* Adjust padding as needed */
        font-size: 16px; /* Adjust font size if necessary */
        text-align: center; /* Center the text */
    }

    .text {
        font-size: 1.2em;
        margin-top: 10px;
    }
    
    .process-step {
        width: 90%; /* Adjust width for smaller screens */
        height: auto; /* Let height adapt to content on mobile */
    }
    

    .text-content {
        margin: 5px 0; /* Reduce margin for text sections */
    }

    .controls {
        width: 80%; /* Reduce width to 80% */
        margin: 0 auto; /* Center align if needed */
        font-size: 14px; /* Optionally reduce font size */
        padding: 8px; /* Adjust padding for better fit */
    }

.whatsapp-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 20px auto; /* Adds spacing and centres */
}

#whatsapp-button {
    width: 60%; /* Full width on mobile with some padding */
    max-width: 400px; /* Optional: Restrict max width for larger screens */
    padding: 15px 20px; /* Ensure enough padding for a balanced look */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #25D366; /* WhatsApp green */
    color: white;
    border-radius: 5px;
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
    transition: background-color 0.3s, box-shadow 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#whatsapp-button:hover {
    background-color: #128C7E; /* Darker green on hover */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

#whatsapp-button img {
    margin-right: 10px; /* Adds space between icon and text */
}

/*Location*/

.location-container {
    display: flex;
    flex-direction: column; /* Stack the input and button vertically */
    align-items: center; /* Center align the elements horizontally */
    width: 100%; /* Full width of the container */
    gap: 10px; /* Space between input and button */
    margin: 20px auto; /* Center the container with spacing */
}

.location-input {
    width: 100%; /* Match the width of the map */
    max-width: 100%; /* Prevent overflow */
    padding: 15px; /* Comfortable padding inside the input */
    font-size: 1.1em; /* Adjust font size for readability */
    border: 1px solid #ccc; /* Add a soft border */
    border-radius: 5px; /* Rounded corners for a modern look */
    box-sizing: border-box; /* Include padding in the width calculation */
}

#sendWhatsApp {
    width: 70%; /* Match the width of the input */
    max-width: 100%; /* Prevent overflow */
    padding: 15px; /* Comfortable padding for the button */
    text-align: center; /* Center the text */
    display: flex; /* Align icon and text inside the button */
    justify-content: center; /* Center the content */
    align-items: center; /* Vertically align content */
    background-color: #25D366; /* WhatsApp green color */
    color: white; /* White text color */
    font-size: 1em; /* Adjust font size */
    font-weight: bold;
    text-decoration: none; /* Remove underline */
    border-radius: 5px; /* Rounded corners */
    transition: background-color 0.3s, box-shadow 0.3s; /* Smooth transitions */
}

#sendWhatsApp:hover {
    background-color: #128C7E; /* Darker green on hover */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); /* Add shadow on hover */
}

#sendWhatsApp img {
    margin-right: 5px; /* Space between icon and text */
}


/*Map*/

    #map {
        width: 100%; /* Ensures the map spans the full width */
        height: 300px; /* Adjust height as necessary */
        margin: 0; /* Remove unnecessary margins */
        border-radius: 0; /* Remove border-radius to fully expand */
    }
    .map-container {
        padding: 0; /* Remove padding that might constrain width */
    }
    
}